body{
  background-color: white;
  background-image: url("images/finalFrontier.jpg");
}
th{
  font-family: fantasy;
  font-size: 100px;
  color: white;
  text-align: center;
  margin: 50px;
  text-underline-offset: 5px;
}
th{
  font-family: fantasy;
  font-size: 100px;
  color: FloralWhite;
  text-align: center;
  margin: 50px;
}
td{
  font-family: sans-serif;
  font-size: 60px;
  color: LightSlateGrey;
  text-align: center;
  margin: 30px;
}
img{
	height: 250px;
	width: 250px;
}